extends layout 
block layout-content

  include header 

  h1.browse-title Developer Collection
  div.developers
    div.accordion-container
      h2 Our Devs
      div.accordion(id="devs-container")
        if users && users.length > 0
          each user, index in users
            if user.profile
              div.accordion-item
                h3.accordion-header(id=`heading${index}`)
                  button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target=`#collapse${index}` aria-expanded="false" aria-controls=`collapse${index}`)!= `<strong>${user.profile.name}</strong>&nbsp;|  ${user.profile.yearsExperience} years Experience  |  ${user.profile.languages.join(', ')}`
                div.accordion-collapse.collapse(id=`collapse${index}` aria-labelledby=`heading${index}` data-bs-parent="#devs-container" style="")
                  div.accordion-body
                    if user.profile.about
                      p 
                        strong About Developer: 
                        = user.profile.about

                    if user.profile.languages && user.profile.languages.length > 0
                        strong.card-title Languages: 
                        p= user.profile.languages.join(', ')

                    if user.profile.frameworksAndLibraries && user.profile.frameworksAndLibraries.length > 0
                      p
                        strong Frameworks/Libraries: 
                        = user.profile.frameworksAndLibraries.join(', ')
                    if user.profile.preferences && user.profile.preferences.length > 0
                      p
                        strong Preferences: 
                        = user.profile.preferences.join(', ')
                    if user.profile.links && user.profile.links.length > 0
                      p
                        strong Links:
                      ul
                        each link in user.profile.links
                          if link && link.trim()
                            li
                              a(href=link)= link
                    if user.profile.email
                      p
                        strong Email: 
                        = user.profile.email
                    if user.profile.phone
                      p
                        strong Phone: 
                        = user.profile.phone

        else
          p No developers found in the database.

        p.no-results-message(style="display: none; text-align: center; margin-top: 2rem; color: #6c757d;") No developers match your filters.

    div.filter-container
      h2 Filters
      div.formContainerFilter
        form
            div
                label.form-label.mt-4(for="yearsExperienceFilter") Minimum Years Experience
                input.form-control(type="number", id="yearsExperienceFilter", name="yearsExperienceFilter", placeholder="What is the minimum years of experience are you looking for?")
                small.form-text.text-muted(id="reqText") Shows developers with this many years experience or more (Whole Numbers Only)
            div
                div.language-title
                    label.form-label.mt-4 Languages
                div.checkbox-container
                    each language in languages
                        div.form-check
                            input.form-check-input(
                                type='checkbox' 
                                name='languagesFilter' 
                                value=language 
                                id=`langFilter-${language.toLowerCase().replace(/[^a-z0-9]/g, '')}`
                                required
                            )
                            label.form-check-label(for=`langFilter-${language.toLowerCase().replace(/[^a-z0-9]/g, '')}`)= language
            div
                label.form-label.mt-4 Frameworks/Libraries
                div.checkbox-container
                    each framework in frameworks
                        div.form-check
                            input.form-check-input(
                                type='checkbox' 
                                name='frameworksAndLibrariesFilter' 
                                value=framework 
                                id=`frameworksAndLibrariesFilter-${framework.toLowerCase().replace(/[^a-z0-9]/g, '')}`
                            )
                            label.form-check-label(for=`frameworksAndLibrariesFilter-${framework.toLowerCase().replace(/[^a-z0-9]/g, '')}`)= framework
            
            div.preferenceButtons
                label.form-label.mt-4 Preferences
                div.btn-group(role="group", aria-label="preference toggle button group")
                    input.btn-check(type="checkbox", id="frontendFilter", name="preferences", value="Frontend", autocomplete="off")
                    label.btn.btn-primary(for="frontendFilter") Frontend
                    input.btn-check(type="checkbox", id="backendFilter", name="preferences", value="Backend", autocomplete="off")
                    label.btn.btn-primary(for="backendFilter") Backend
                    input.btn-check(type="checkbox", id="full-stackFilter", name="preferences", value="Full-stack", autocomplete="off")
                    label.btn.btn-primary(for="full-stackFilter") Full-Stack
            div.mt-3.filter-btn
              button.btn.btn-secondary(type="button" id="resetFilters") Reset Filters

  script(src="/js/filter.js")
  include footer