extends layout 
block layout-content

  include header 

  h1 Developer Collection
  div.developers
    div.accordion-container
      h2 Our Devs
      div.accordion(id="devs-container")
        if users && users.length > 0
          each user, index in users
            if user.profile
              div.accordion-item
                h2.accordion-header(id=`heading${index}`)
                  button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target=`#collapse${index}` aria-expanded="false" aria-controls=`collapse${index}`)!= `<strong>${user.profile.name}</strong>&nbsp;|  ${user.profile.yearsExperience} years Experience  |  ${user.profile.languages.join(', ')}`
                div.accordion-collapse.collapse(id=`collapse${index}` aria-labelledby=`heading${index}` data-bs-parent="#devs-container" style="")
                  div.accordion-body
                    p 
                      strong About Developer: 
                      = user.profile.about || 'N/A'
                    p
                      strong Frameworks/Libraries: 
                      = user.profile.frameworksAndLibraries ? user.profile.frameworksAndLibraries.join(', ') : 'N/A'
                    p
                      strong Preferences: 
                      = user.profile.preferences ? user.profile.preferences.join(', ') : 'N/A'
                    p
                      strong Links: 
                      = user.profile.links || user.profile.links.length > 0 ? user.profile.links.join(', ') : 'Not provided'
                    p
                      strong Email: 
                      = user.profile.email || 'Not provided'
                    p
                      strong Phone: 
                      = user.profile.phone || 'Not provided'

        else
          p No developers found in the database.

        p.no-results-message(style="display: none; text-align: center; margin-top: 2rem; color: #6c757d;") No developers match your filters.

    div.filter-container
      h2 Filters
      div.formContainerFilter
        form(action="/profiles" method="post")
            div
                label.form-label.mt-4(for="yearsExperienceFilter") Minimum Years Experience
                input.form-control(type="number", id="yearsExperienceFilter", name="yearsExperienceFilter", placeholder="What is the minimum years of experience are you looking for?")
                small.form-text.text-muted(id="reqText") Shows developers with this many years experience or more (Whole Numbers Only)
            div
                div.language-title
                    label.form-label.mt-4 Languages
                div.language-checkbox-container
                    div.form-check
                        input.form-check-input(type="checkbox", name="languagesFilter", value="js" id="js")
                        label.form-check-label(for="js") Javascript
                    div.form-check
                        input.form-check-input(type="checkbox", name="languagesFilter", value="java" id="java")
                        label.form-check-label(for="java") Java
                    div.form-check
                        input.form-check-input(type="checkbox", name="languagesFilter", value="php" id="php")
                        label.form-check-label(for="php") PHP
                    div.form-check
                        input.form-check-input(type="checkbox", name="languagesFilter", value="html" id="html")
                        label.form-check-label(for="html") HTML
                    div.form-check
                        input.form-check-input(type="checkbox", name="languagesFilter", value="ruby" id="ruby")
                        label.form-check-label(for="ruby") Ruby

            div
                label.form-label.mt-4 Frameworks/Libraries
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibrariesFilter", value="laravel", id="laravel")
                    label.form-check-label(for="laravel") Laravel
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibrariesFilter", value="react", id="react")
                    label.form-check-label(for="react") React
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibrariesFilter", value="angularJs", id="angularJs")
                    label.form-check-label(for="angularJs") AngularJS
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibrariesFilter", value="vueJs", id="vueJs")
                    label.form-check-label(for="vueJs") Vue.js
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibrariesFilter", value="nextJs", id="nextJs")
                    label.form-check-label(for="nextJs") Next.js
            
            div.preferenceButtons
                label.form-label.mt-4 Preferences
                div.btn-group(role="group", aria-label="preference toggle button group")
                    input.btn-check(type="checkbox", id="frontendFilter", name="preferences", value="frontendFilter", autocomplete="off")
                    label.btn.btn-primary(for="frontendFilter") Frontend
                    input.btn-check(type="checkbox", id="backendFilter", name="preferences", value="backendFilter", autocomplete="off")
                    label.btn.btn-primary(for="backendFilter") Backend
                    input.btn-check(type="checkbox", id="full-stackFilter", name="preferences", value="full-stackFilter", autocomplete="off")
                    label.btn.btn-primary(for="full-stackFilter") Full-Stack
            div.mt-3.filter-btn
              button.btn.btn-secondary(type="button" id="resetFilters") Reset Filters

  script(src="/js/filter.js")
  include footer