extends layout

block layout-content 

    include header 

    if userProfile
        section.profile-section
            h1 Your current profile
            div.card.bg-secondary.mb-3.profile-card
                h2.card-header= userProfile.name
                div.card-body
                    if userProfile.about
                        strong.card-title About Developer: 
                        p= userProfile.about
                    if userProfile.frameworksAndLibraries && userProfile.frameworksAndLibraries.length > 0
                        strong.card-title Frameworks/Libraries: 
                        p= userProfile.frameworksAndLibraries.join(', ')

                    if userProfile.preferences && userProfile.preferences.length > 0
                        strong.card-title Preferences: 
                        p= userProfile.preferences.join(', ')

                    if userProfile.links && userProfile.links.length > 0
                        strong.card-title Links: 
                        p= userProfile.links.join(', ')

                    if userProfile.email
                        strong.card-title Email: 
                        p= userProfile.email

                    if userProfile.phone
                        strong.card-title Phone: 
                        p= userProfile.phone

    div.formContainer
        h2 Edit your profile
        if error
            div.alert.alert-dismissible.alert-danger
                p #{error}
        if alert 
            div.alert.alert-dismissible.alert-success
                p #{alert}
        form(action="/profiles" method="post")
            div
                label.form-label.mt-4(for="name") Name *
                input.form-control(type="text", id="name", name="name", placeholder="Enter your full name" required)
                small.form-text.text-muted(id="reqText") Required Field

            div
                label.form-label.mt-4(for="email") Email address *
                input.form-control(type="email", id="email", name="email", placeholder="Enter email" required)
                small.form-text.text-muted(id="reqText") Required Field
                
            div
                label.form-label.mt-4(for="yearsExperience") Years Experience *
                input.form-control(type="number", id="yearsExperience", name="yearsExperience", placeholder="How many years of experience do you have?" required)
                small.form-text.text-muted(id="reqText") Required Field (Whole Numbers Only)

            div
                div.language-title
                    label.form-label.mt-4 Languages *
                    small.form-text.text-muted(id="reqText") Required
                div.checkbox-container
                    each language in languages
                        div.form-check
                            input.form-check-input(
                                type='checkbox' 
                                name='languages' 
                                value=language 
                                id=`lang-${language.toLowerCase().replace(/[^a-z0-9]/g, '')}`
                                required
                            )
                            label.form-check-label(for=`lang-${language.toLowerCase().replace(/[^a-z0-9]/g, '')}`)= language
                            

            div
                label.form-label.mt-4 Frameworks/Libraries
                div.checkbox-container
                    each framework in frameworks
                        div.form-check
                            input.form-check-input(
                                type='checkbox' 
                                name='frameworks' 
                                value=framework 
                                id=`framework-${framework.toLowerCase().replace(/[^a-z0-9]/g, '')}`
                            )
                            label.form-check-label(for=`framework-${framework.toLowerCase().replace(/[^a-z0-9]/g, '')}`)= framework
            
            div.preferenceButtons
                label.form-label.mt-4 Preferences
                div.btn-group(role="group", aria-label="preference toggle button group")
                    input.btn-check(type="checkbox", id="frontend", name="preferences", value="frontend", autocomplete="off")
                    label.btn.btn-primary(for="frontend") Frontend
                    input.btn-check(type="checkbox", id="backend", name="preferences", value="backend", autocomplete="off")
                    label.btn.btn-primary(for="backend") Backend
                    input.btn-check(type="checkbox", id="full-stack", name="preferences", value="full-stack", autocomplete="off")
                    label.btn.btn-primary(for="full-stack") Full-Stack
            
            div
                label.form-label.mt-4(for="about") About Yourself
                textarea.form-control(type="text", id="about", name="about" placeholder="Tell us a little more about yourself", rows="3", style="height: 61px;")

            div
                label.form-label.mt-4(for="phone") Phone
                input.form-control(type="tel", id="phone", name="phone", placeholder="Enter your phone number")

            div
                label.form-label.mt-4(for="github") Github Link
                input.form-control(type="url", id="github", name="links", placeholder="Github Link")
                label.form-label.mt-4(for="linkedIn") LinkedIn Link
                input.form-control(type="url", id="linkedIn", name="links", placeholder="LinkedIn Link")
                label.form-label.mt-4(for="otherLink") Other Link
                input.form-control(type="url", id="otherLink", name="links", placeholder="Additional Link")
        
            div.buttonContainer
                button.btn.btn-primary(type="submit") Submit

    include footer
