extends layout

block layout-content 

    include header 

    if userProfile
        h2 Your current profile
        div.accordion-item
            h3.accordion-header
                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile")= `${userProfile.name} | ${userProfile.yearsExperience} years Experience | ${userProfile.languages.join(', ')}`
            div.accordion-collapse.collapse(id="collapseProfile" aria-labelledby="headingProfile" data-bs-parent="#devs-container")
                div.accordion-body
                    strong About Developer: 
                    = userProfile.about || 'N/A'
                    br
                    strong Frameworks/Libraries: 
                    = userProfile.frameworksAndLibraries && userProfile.frameworksAndLibraries.length > 0 ? userProfile.frameworksAndLibraries.join(', ') : 'N/A'
                    br
                    strong Preferences: 
                    = userProfile.preferences && userProfile.preferences.length > 0 ? userProfile.preferences.join(', ') : 'N/A'
                    br
                    strong Links: 
                    = userProfile.links && userProfile.links.length > 0 ? userProfile.links.join(', ') : 'Not provided'
                    br
                    strong Email: 
                    = userProfile.email || 'Not provided'
                    br
                    strong Phone: 
                    = userProfile.phone || 'Not provided'
    div.formContainer
        if error
            div.alert.alert-dismissible.alert-danger
                p #{error}
        if alert 
            div.alert.alert-dismissible.alert-success
                p #{alert}
        form(action="/profiles" method="post")
            div
                label.form-label.mt-4(for="name") Name*
                input.form-control(type="text", id="name", name="name", placeholder="Enter your full name")
                small.form-text.text-muted(id="reqText") Required Field
            div
                label.form-label.mt-4(for="about") About Yourself
                textarea.form-control(type="text", id="about", name="about" placeholder="Tell us a little more about yourself", rows="3", style="height: 61px;")
            div
                label.form-label.mt-4(for="yearsExperience") Years Experience*
                input.form-control(type="number", id="yearsExperience", name="yearsExperience", placeholder="How many years of experience do you have?")
                small.form-text.text-muted(id="reqText") Required Field (Whole Numbers Only)
            div
                div.language-title
                    label.form-label.mt-4 Languages*
                    small.form-text.text-muted(id="reqText") Required
                div.language-checkbox-container
                    div.form-check
                        input.form-check-input(type="checkbox", name="languages", value="js" id="js")
                        label.form-check-label(for="js") Javascript
                    div.form-check
                        input.form-check-input(type="checkbox", name="languages", value="java" id="java")
                        label.form-check-label(for="java") Java
                    div.form-check
                        input.form-check-input(type="checkbox", name="languages", value="php" id="php")
                        label.form-check-label(for="php") PHP
                    div.form-check
                        input.form-check-input(type="checkbox", name="languages", value="html" id="html")
                        label.form-check-label(for="html") HTML
                    div.form-check
                        input.form-check-input(type="checkbox", name="languages", value="ruby" id="ruby")
                        label.form-check-label(for="ruby") Ruby

            div
                label.form-label.mt-4 Frameworks/Libraries
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibraries", value="laravel", id="laravel")
                    label.form-check-label(for="laravel") Laravel
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibraries", value="react", id="react")
                    label.form-check-label(for="react") React
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibraries", value="angularJs", id="angularJs")
                    label.form-check-label(for="angularJs") AngularJS
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibraries", value="vueJs", id="vueJs")
                    label.form-check-label(for="vueJs") Vue.js
                div.form-check
                    input.form-check-input(type="checkbox", name="frameworksAndLibraries", value="nextJs", id="nextJs")
                    label.form-check-label(for="nextJs") Next.js
            
            div.preferenceButtons
                label.form-label.mt-4 Preferences
                div.btn-group(role="group", aria-label="preference toggle button group")
                    input.btn-check(type="checkbox", id="frontend", name="preferences", value="frontend", autocomplete="off")
                    label.btn.btn-primary(for="frontend") Frontend
                    input.btn-check(type="checkbox", id="backend", name="preferences", value="backend", autocomplete="off")
                    label.btn.btn-primary(for="backend") Backend
                    input.btn-check(type="checkbox", id="full-stack", name="preferences", value="full-stack", autocomplete="off")
                    label.btn.btn-primary(for="full-stack") Full-Stack
            
            div
                label.form-label.mt-4(for="email") Email address*
                input.form-control(type="email", id="email", name="email", placeholder="Enter email")
                small.form-text.text-muted(id="reqText") Required Field
            div
                label.form-label.mt-4(for="phone") Phone
                input.form-control(type="tel", id="phone", name="phone", placeholder="Enter your phone number")
            div
                label.mt-4 Additional Links
                div
                    label.form-label.mt-4(for="github") Github
                    input.form-control(type="text", id="github", name="links", placeholder="Github Link")
                    label.form-label.mt-4(for="linkedIn") LinkedIn
                    input.form-control(type="text", id="linkedIn", name="links", placeholder="LinkedIn Link")
                    label.form-label.mt-4(for="otherLink") Other
                    input.form-control(type="text", id="otherLink", name="links", placeholder="Additional Link")
            div.buttonContainer
                button.btn.btn-primary(type="submit") Submit

    include footer
